<footer class="footer has-background-dark has-text-white">
    <section class="section">
        <div class="container is-fluid">
            <div class="columns has-text-justified">
                <div class="column">
                    <ul class="block-list is-small is-outlined is-success is-centered mb-4">
                        <li class="is-size-5">Download</li>
                        <li><a href="http://" class="has-text-white">Latest QGIS</a></li>
                        <li><a href="http://" class="has-text-white">QGIS Latest Releases</a></li>
                        <li><a href="http://" class="has-text-white">Release Notes</a></li>
                        <li><a href="http://" class="has-text-white">Source Code</a></li>
                    </ul>
                    <ul class="block-list is-small is-outlined is-success is-centered">
                        <li class="is-size-5">News</li>
                        <li><a href="http://" class="has-text-white">Releases</a></li>
                        <li><a href="http://" class="has-text-white">User Cases</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
